.dropzone,
.dropzone * {
	box-sizing: border-box
}

.dropzone {
	min-height: 150px;
	border: 2px solid rgba(0, 0, 0, .3);
	background: #fff;
	padding: 20px 20px
}

.dropzone.dz-clickable {
	cursor: pointer
}

.dropzone.dz-clickable * {
	cursor: default
}

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
	cursor: pointer
}

.dropzone.dz-started .dz-message {
	display: none
}

.dropzone.dz-drag-hover {
	border-style: solid
}

.dropzone.dz-drag-hover .dz-message {
	opacity: .5
}

.dropzone .dz-message {
	text-align: center;
	margin: 2em 0
}

.dropzone .dz-message .dz-button {
	background: 0 0;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit
}

.dropzone .dz-preview {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 16px;
	min-height: 100px
}

.dropzone .dz-preview:hover {
	z-index: 1000
}

.dropzone .dz-preview:hover .dz-details {
	opacity: 1
}

.dropzone .dz-preview.dz-file-preview .dz-image {
	border-radius: 20px;
	background: #999;
	background: linear-gradient(to bottom, #eee, #ddd)
}

.dropzone .dz-preview.dz-file-preview .dz-details {
	opacity: 1
}

.dropzone .dz-preview.dz-image-preview {
	background: #fff
}

.dropzone .dz-preview.dz-image-preview .dz-details {
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-ms-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear
}

.dropzone .dz-preview .dz-remove {
	font-size: 14px;
	text-align: center;
	display: block;
	cursor: pointer;
	border: none
}

.dropzone .dz-preview .dz-remove:hover {
	text-decoration: underline
}

.dropzone .dz-preview:hover .dz-details {
	opacity: 1
}

.dropzone .dz-preview .dz-details {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: 13px;
	min-width: 100%;
	max-width: 100%;
	padding: 2em 1em;
	text-align: center;
	color: rgba(0, 0, 0, .9);
	line-height: 150%
}

.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 1em;
	font-size: 16px
}

.dropzone .dz-preview .dz-details .dz-filename {
	white-space: nowrap
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {
	border: 1px solid rgba(200, 200, 200, .8);
	background-color: rgba(255, 255, 255, .8)
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
	overflow: hidden;
	text-overflow: ellipsis
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
	border: 1px solid transparent
}

.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
	background-color: rgba(255, 255, 255, .4);
	padding: 0 .4em;
	border-radius: 3px
}

.dropzone .dz-preview:hover .dz-image img {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	-webkit-filter: blur(8px);
	filter: blur(8px)
}

.dropzone .dz-preview .dz-image {
	border-radius: 20px;
	overflow: hidden;
	width: 120px;
	height: 120px;
	position: relative;
	display: block;
	z-index: 10
}

.dropzone .dz-preview .dz-image img {
	display: block
}

.dropzone .dz-preview.dz-success .dz-success-mark {
	-webkit-animation: passing-through 3s cubic-bezier(.77, 0, .175, 1);
	-moz-animation: passing-through 3s cubic-bezier(.77, 0, .175, 1);
	-ms-animation: passing-through 3s cubic-bezier(.77, 0, .175, 1);
	-o-animation: passing-through 3s cubic-bezier(.77, 0, .175, 1);
	animation: passing-through 3s cubic-bezier(.77, 0, .175, 1)
}

.dropzone .dz-preview.dz-error .dz-error-mark {
	opacity: 1;
	-webkit-animation: slide-in 3s cubic-bezier(.77, 0, .175, 1);
	-moz-animation: slide-in 3s cubic-bezier(.77, 0, .175, 1);
	-ms-animation: slide-in 3s cubic-bezier(.77, 0, .175, 1);
	-o-animation: slide-in 3s cubic-bezier(.77, 0, .175, 1);
	animation: slide-in 3s cubic-bezier(.77, 0, .175, 1)
}

.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark {
	pointer-events: none;
	opacity: 0;
	z-index: 500;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin-left: -27px;
	margin-top: -27px
}

.dropzone .dz-preview .dz-error-mark svg,
.dropzone .dz-preview .dz-success-mark svg {
	display: block;
	width: 54px;
	height: 54px
}

.dropzone .dz-preview.dz-processing .dz-progress {
	opacity: 1;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

.dropzone .dz-preview.dz-complete .dz-progress {
	opacity: 0;
	-webkit-transition: opacity .4s ease-in;
	-moz-transition: opacity .4s ease-in;
	-ms-transition: opacity .4s ease-in;
	-o-transition: opacity .4s ease-in;
	transition: opacity .4s ease-in
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
	-webkit-animation: pulse 6s ease infinite;
	-moz-animation: pulse 6s ease infinite;
	-ms-animation: pulse 6s ease infinite;
	-o-animation: pulse 6s ease infinite;
	animation: pulse 6s ease infinite
}

.dropzone .dz-preview .dz-progress {
	opacity: 1;
	z-index: 1000;
	pointer-events: none;
	position: absolute;
	height: 16px;
	left: 50%;
	top: 50%;
	margin-top: -8px;
	width: 80px;
	margin-left: -40px;
	background: rgba(255, 255, 255, .9);
	-webkit-transform: scale(1);
	border-radius: 8px;
	overflow: hidden
}

.dropzone .dz-preview .dz-progress .dz-upload {
	background: #333;
	background: linear-gradient(to bottom, #666, #444);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	-webkit-transition: width .3s ease-in-out;
	-moz-transition: width .3s ease-in-out;
	-ms-transition: width .3s ease-in-out;
	-o-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out
}

.dropzone .dz-preview.dz-error .dz-error-message {
	display: block
}

.dropzone .dz-preview.dz-error:hover .dz-error-message {
	opacity: 1;
	pointer-events: auto
}

.dropzone .dz-preview .dz-error-message {
	pointer-events: none;
	z-index: 1000;
	position: absolute;
	display: block;
	display: none;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
	border-radius: 8px;
	font-size: 13px;
	top: 130px;
	left: -10px;
	width: 140px;
	background: #be2626;
	background: linear-gradient(to bottom, #be2626, #a92222);
	padding: .5em 1.2em;
	color: #fff
}

.dropzone .dz-preview .dz-error-message:after {
	content: "";
	position: absolute;
	top: -6px;
	left: 64px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #be2626
}

.dropzone {
	min-height: auto;
	padding: 1.5rem 1.75rem;
	text-align: center;
	cursor: pointer;
	border: 1px dashed rgba(var(--phoenix-primary-rgb), 1) !important;
	background-color: rgba(var(--phoenix-primary-rgb), 0.1);
	border-radius: .475rem !important;
}

.dropzone .dz-message {
	margin: 0;
	display: flex;
	text-align: left
}

.dropzone .dz-preview {
	border-radius: .475rem !important;
	margin: .75rem
}

.dropzone .dz-preview .dz-image {
	border-radius: .475rem !important;
	z-index: 1
}

.dropzone .dz-preview.dz-file-preview .dz-image {
	background: var(--bs-gray-200)
}

.dropzone .dz-error-mark,
.dropzone .dz-success-mark {
	margin-left: -20px !important;
	margin-top: -20px !important
}

.dropzone .dz-error-mark svg,
.dropzone .dz-success-mark svg {
	height: 40px !important;
	width: 40px !important
}

.dropzone .dz-remove {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.65rem;
	width: 1.65rem;
	font-size: 1rem;
	text-indent: -9999px;
	white-space: nowrap;
	position: absolute;
	z-index: 2;
	background-color: var(--bs-body-bg) !important;
	box-shadow: var(--bs-box-shadow);
	border-radius: 100%;
	top: -.825rem;
	right: -.825rem
}

.dropzone .dz-remove:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	content: "";
	mask-size: 40%;
	-webkit-mask-size: 40%;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: var(--bs-gray-600);
	-webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-gray-600%29'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
	mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-gray-600%29'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
}

.dropzone .dz-remove:hover:after {
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: var(--bs-primary);
	-webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-primary%29'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
	mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-primary%29'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
}

.dropzone .dz-error-message {
	color: var(--bs-danger-inverse);
	background: var(--bs-danger)
}

.dropzone.dropzone-queue {
	border: 0;
	padding: 0;
	background-color: transparent;
	text-align: left
}

.dropzone.dropzone-queue .dz-message {
	display: none
}

.dropzone.dropzone-queue .dropzone-panel .dropzone-remove-all,
.dropzone.dropzone-queue .dropzone-panel .dropzone-upload {
	display: none
}

.dropzone.dropzone-queue .dropzone-item {
	display: flex;
	align-items: center;
	margin-top: .75rem;
	border-radius: .475rem;
	padding: .5rem 1rem;
	background-color: rgba(var(--phoenix-100-rgb)) !important
}

.dropzone.dropzone-queue .dropzone-item .dropzone-file {
	flex-grow: 1
}

.dropzone.dropzone-queue .dropzone-item .dropzone-file .dropzone-filename {
	font-size: .9rem;
	font-weight: 500;
	color: var(--bs-gray-600);
	text-overflow: ellipsis;
	margin-right: .5rem
}

.dropzone.dropzone-queue .dropzone-item .dropzone-file .dropzone-filename:hover {
	color: var(--bs-primary)
}

.dropzone.dropzone-queue .dropzone-item .dropzone-file .dropzone-error {
	margin-top: .25rem;
	font-size: .9rem;
	font-weight: 400;
	color: var(--bs-danger);
	text-overflow: ellipsis
}

.dropzone.dropzone-queue .dropzone-item .dropzone-progress {
	width: 15%
}

.dropzone.dropzone-queue .dropzone-item .dropzone-progress .progress {
	height: 5px;
	transition: all .2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
	.dropzone.dropzone-queue .dropzone-item .dropzone-progress .progress {
		transition: none
	}
}

.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar {
	margin-left: 1rem;
	display: flex;
	flex-wrap: nowrap
}

.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-cancel,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-delete,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-start {
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: color .2s ease
}

.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-cancel>i,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-delete>i,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-start>i {
	transition: color .2s ease;
	font-size: .8rem;
	color: var(--bs-gray-600)
}

.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-cancel:hover,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-delete:hover,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-start:hover {
	transition: color .2s ease
}

.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-cancel:hover>i,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-delete:hover>i,
.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-start:hover>i {
	color: var(--bs-primary)
}

.dropzone.dropzone-queue .dropzone-item .dropzone-toolbar .dropzone-start {
	transition: color .2s ease
}