node_modules
fb-chat-api.dev
obfcode.js
minify.js
backupOrigin.js
createVersion.js
createVersionAndCommit.js
checkOriginCodeChanged.js
*.zip
*.dev.*
*.rar
*test.*
*.test.*
test.js

database/data/*
!database/data/.gitkeep

scripts/cmds/tmp/*
!scripts/cmds/tmp/.gitkeep
scripts/cmds/assets/guide
!scripts/cmds/assets/guide/.gitkeep

scripts/events/tmp/*
scripts/events/data/leaveAttachment
scripts/events/data/welcomeAttachment
!scripts/events/tmp/.gitkeep